<%- include('./layouts/nav.ejs') %>

<h1>User List:</h1>

<% if(users.length == 0) { %>
<p>No users yet...</p>
<a href="/userForm">Add user</a>
<% } else { %>
<p>There are <%= users.length%> Users... YAY!</p>
<% } %> <%- include('./layouts/footer.ejs') %>
